@{
    ViewBag.Title = "Месячный отчет потребления";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@model List<PumpDb.ByHourStat>

@section Css
{
    <style type="text/css">
        body {
            background-color: #d5d5d5;
        }

        #btnExport {
            position: fixed;
            top: 5px;
            right: 5px;
            z-index: 12;
        }

        #btnBack {
            position: fixed;
            top: 5px;
            left: 5px;
            z-index: 12;
        }

        @@media print {
            #btnExport, #btnBack {
                display: none;
            }
        }
    </style>

}

@{
    // выборка существующих значений энергии и воды сортировка по возрастанию часа суток
    List<PumpDb.ByHourStat> energyDataExist = Model.Where(x => x.TotalEnergy.HasValue).OrderBy(x => x.HourTime).ToList();
    List<PumpDb.ByHourStat> waterDataExist = Model.Where(x => x.TotalWaterRate.HasValue).OrderBy(x => x.HourTime).ToList();

    // берем расход как разность последнего и первого показания
    double energyLose = energyDataExist.Count > 1 ? energyDataExist[energyDataExist.Count - 1].TotalEnergy.Value - energyDataExist[0].TotalEnergy.Value : 0;
    TimeSpan energyDateRange = energyDataExist.Count > 1 ? energyDataExist[energyDataExist.Count - 1].RecvDateEnergy.Value.Subtract(energyDataExist[0].RecvDateEnergy.Value) : TimeSpan.FromMinutes(0);

    double waterLose = waterDataExist.Count > 1 ? waterDataExist[waterDataExist.Count - 1].TotalWaterRate.Value - waterDataExist[0].TotalWaterRate.Value : 0;
    TimeSpan waterDateRange = waterDataExist.Count > 1 ? waterDataExist[waterDataExist.Count - 1].RecvDateWater.Value.Subtract(waterDataExist[0].RecvDateWater.Value) : TimeSpan.FromMinutes(0);


}
<a id="btnBack" href='@Url.Action("Index","Report")' class="btn btn-default">&larr; Назад</a>

<div style="width:21cm; margin: 0 auto;">
    <table id="dataReport" class="table table-condensed table-bordered" style="width:100%; background-color:#fff; border:1px solid black">
        <thead style="background-color: #f6f6f6">
            <tr>
                <th colspan="8" style="text-align:center">
                    <span style="font-weight:normal">Месячный посуточный отчет потребления по </span> @(ViewBag.ObjectName ?? "-")
                </th>
            </tr>
            <tr>
                <th rowspan="2" style="vertical-align:middle">
                    Дата
                </th>
                <th colspan="3" style="text-align:center">
                    Электроэнергия
                </th>
                <th colspan="3" style="text-align:center">
                    Вода
                </th>


                <th rowspan="2" style="vertical-align:middle">
                    Уд расх в сутках, кВтч/м<sup>3</sup>
                </th>
            </tr>
            <tr>
                <th>Время снятия</th>
                <th>Показание электроэнергии, кВтч</th>
                <th>Расход в сутках, кВтч</th>
                <th>Время снятия</th>
                <th>Показание воды, м<sup>3</sup></th>
                <th>Расход в сутках, м<sup>3</sup></th>
            </tr>
        </thead>

        

        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="background-color: #f6f6f6">
                        @Model[i].HourTime.ToString("dd MMM yyг. HH:mm")

                    </td>
                    <td>
                        @if (Model[i].RecvDateEnergy.HasValue)
                        {
                            @Model[i].RecvDateEnergy.Value.ToString("dd.MM.yy HH:mm:ss")
                        }
                        else
                        {
                            <span class="text-muted">нет данных</span>
                        }

                    </td>
                    <td style="text-align:right">
                        @if (Model[i].TotalEnergy.HasValue)
                        {
                            @Model[i].TotalEnergy.Value.ToString("0.##0")
                        }
                        else
                        {
                            <span class="text-muted">нет данных</span>
                        }

                    </td>
                    <td style="text-align:right">
                        @if (i > 0)
                        {
                            if (Model[i].TotalEnergy.HasValue && Model[i - 1].TotalEnergy.HasValue)
                            {
                                @((Model[i].TotalEnergy.Value - Model[i - 1].TotalEnergy.Value).ToString("0.##0"))
                            }
                            else
                            {
                                @:-
                }
                        }
                        else
                        {
                            @:-
            }
                    </td>
                    <td>
                        @if (Model[i].RecvDateWater.HasValue)
                        {
                            @Model[i].RecvDateWater.Value.ToString("dd.MM.yy HH:mm:ss")
                        }
                        else
                        {
                            <span class="text-muted">нет данных</span>
                        }
                    </td>
                    <td style="text-align:right">
                        @if (Model[i].TotalWaterRate.HasValue)
                        {
                            @Model[i].TotalWaterRate.Value.ToString("0.##0")
                        }
                        else
                        {
                            <span class="text-muted">нет данных</span>
                        }

                    </td>
                    <td style="text-align:right">
                        @if (i > 0)
                        {
                            if (Model[i].TotalWaterRate.HasValue && Model[i - 1].TotalWaterRate.HasValue)
                            {
                                @((Model[i].TotalWaterRate.Value - Model[i - 1].TotalWaterRate.Value).ToString("0.##0"))
                            }
                            else
                            {
                                @:-
                }
                        }
                        else
                        {
                            @:-
            }
                    </td>
                    <td style="text-align:right">
                        @if (i > 0)
                        {
                            // если есть энергия
                            if (Model[i].TotalEnergy.HasValue && Model[i - 1].TotalEnergy.HasValue)
                            {
                                double energy = Model[i].TotalEnergy.Value - Model[i - 1].TotalEnergy.Value;

                                // если есть вода
                                if (Model[i].TotalWaterRate.HasValue && Model[i - 1].TotalWaterRate.HasValue)
                                {
                                    double water = Model[i].TotalWaterRate.Value - Model[i - 1].TotalWaterRate.Value;
                                    if (water == 0)
                                    {
                                        @:∞
                                        }
                                    else
                                    {
                                        @((energy / water).ToString("0.0###"))
                                    }
                                }
                                else
                                {
                                    @:-
                                    }
                            }
                            else
                            {
                                @:-
                }
                        }
                        else
                        {
                            @:-
            }
                    </td>

                </tr>
            }
        </tbody>
        <tfoot style="background-color: #f6f6f6">
            <tr>
                <td colspan="8" style="text-align:center">
                    <b>Суммарный расход</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" style="text-align:center">
                    <b>Электроэнергия, кВтч</b>
                </td>
                <td colspan="3" style="text-align:center">
                    <b>Вода, м<sup>3</sup></b>
                </td>
                <td style="text-align:center">
                    <b>Уд. расх. кВтч/м<sup>3</sup></b>
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2" class="text-center">@energyLose.ToString("0.##0")</td>
                <td>@energyDateRange.Days дн. @energyDateRange.Hours ч. @energyDateRange.Minutes мин.</td>

                <td colspan="2" class="text-center">@waterLose.ToString("0.##0")</td>
                <td>@waterDateRange.Days дн. @waterDateRange.Hours ч. @waterDateRange.Minutes мин.</td>
                <td class="text-center">
                    @if (waterLose > 0 && energyDateRange.TotalSeconds > 0)
                    {
                        double calculated = energyLose / waterLose * (waterDateRange.TotalSeconds / energyDateRange.TotalSeconds);
                        @calculated.ToString("0.0###")
                    }
                    else
                    {
                        @:∞
                    }
                </td>
            </tr>

        </tfoot>

    </table>
</div>

<button id="btnExport" class="btn btn-default" value="">Сохранить в Word</button>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnExport").click(function () {
                var htmltable = document.getElementById('dataReport');
                var html = htmltable.outerHTML;
                window.open('data:application/msword,' + '\uFEFF' + encodeURIComponent(html));
            });
        });
    </script>
}
