@model PumpDb.PumpNominalParam

@{
    ViewBag.Title = "Настройка номинальной мощности насоса для оценки критических режимов работы";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


@Html.Partial("topmenu")



<div class="container" style="margin-top: 65px">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-muted">Настройка номинальной мощности насоса для оценки критических режимов работы</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-6 col-xs-8">
            @using (Html.BeginForm("SavePumpParams", "Water", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="Identity">Идентификатор объекта</label>
                    @Html.TextBoxFor(x => x.Identity, new { @class = "form-control", @readonly = "readonly" })
                </div>
                
                 <div class="form-group">
                     <label for="NominalPower">Номинальная мощность насоса, кВт</label>
                    @Html.TextBoxFor(x => x.NominalPower, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NominalPower)
                </div>

                <div class="form-group">
                    <label for="KoefUndo">Коэффициент потери мощности в режиме сухого хода [1-100%]</label>
                    @Html.TextBoxFor(x => x.KoefUndo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.KoefUndo)
                </div>


                <div class="form-group">
                    <label for="KoefOver">Коэффициент перегрузки [1-100%]</label>
                    @Html.TextBoxFor(x => x.KoefOver, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.KoefOver)
                </div>
                
                <div class="form-group">
                    <span class="text-warning" style="font-size:20px;">@(TempData["message"] ?? "")</span>
                </div>


                <input type="submit" class="btn btn-default" value="Сохранить" />
                <a href='@(ViewBag.ReturnUrl??@Url.Action("Index","Initialize"))' target="_self" class="btn btn-success pull-right">Просмотр показаний</a>
            }



        </div>

    </div>

</div>




@section Scripts
{
    <script src='@Url.Content("~/js/jqueryval/jquery.validate.min.js")'></script>
    <script src='@Url.Content("~/js/jqueryval/jquery.validate.unobtrusive.min.js")'></script>


}

